.slider {
    width: 500px;
    position: relative;
    padding-top: 510px;
    margin: 20px auto;
    /* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75); */
}

/* all gallery img's (slider as immediate parent) */
.slider > img {
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #999;
    border-radius: 3px;
    /* transition: all 0.5s; */
}

/* all inputs */
.slider input {
    display: none;
}

/* label (contains thumb img) */
.slider label {
    width: 64px;
    margin: 5px 2px;
    float: left;
    border: 1px solid #999;
    cursor: pointer;
    /* transition: all 0.5s; */
    opacity: 0.6;
    box-sizing: border-box;
    border-radius: 3px;
}

/* thumb img's */
.slider label img {
    width: 100%;
    display: block;
    border-radius: 3px;
}

/* thumb label if selected (contains thumb img) */
.slider input:checked + label {
    border-color: #999;
    opacity: 1;
}
.slider input:hover + label {
    border-color: #999;
    opacity: 1;
}

/* gallery img (all img's that come after input) */
.slider input ~ img {
    opacity: 0;
    /* transform: scale(1.1); */
}

/* gallery img full opacity when checked */
.slider input:checked + label + img {
    opacity: 1;
    /* transform: scale(1); */
}
.slider input:hover + label + img {
    opacity: 1;
    z-index: 999;
    /* transform: scale(1); */
}